In [105]:
import numpy as np
import os
import pandas as pd

In [106]:
PATH = os.getcwd()
data = pd.read_csv(os.path.join(PATH,"all_nuclear_transients.csv"))
test = data['ztf_id'] [0][3:]
reduced_names = [x[3:] for x in data['ztf_id']]
# "19abclykm" in reduced_names

clean = data.dropna()
na_ids = data['ztf_id'].loc[data['RA'].isna()]
print(f"There are {data.shape[0] - clean.shape[0]} instances without given coordinates. These are: {list(na_ids)}") 
clean

There are 13 instances without given coordinates. These are: ['ZTF22aaiwxwu', 'ZTF22aafxvkr', 'ZTF19adiilel', 'ZTF20adcfsjp', 'ZTF18adnpbdh', 'ZTF22abeeocq', 'ZTF18adokcmq', 'ZTF18adkfyoh', 'ZTF22abskbee', 'ZTF19adfotgk', 'ZTF22abzlkpg', 'ZTF19adgeyju', 'ZTF18aatmoqh']

             ztf_id          RA        Dec
0      ZTF17aaaacjo   88.123066  14.443254
1      ZTF17aaaazwi   73.260968  11.966868
2      ZTF17aaadkwx   32.559601  -1.813550
3      ZTF17aaaduqw    7.019212  42.548489
4      ZTF17aaaecja  311.109451  51.147858
...             ...         ...        ...
14252  ZTF18aarrqrn  226.119317  65.294844
14253  ZTF18aaspnuh  248.793885  48.772316
14255  ZTF18absloog   10.514000  39.296174
14256  ZTF18abtvbzx  251.718431  47.586605
14257  ZTF18abtjnci  322.793949  -0.593641

[14245 rows x 3 columns]

In [107]:
# np.random.seed(42)
# random_indices = np.random.randint(0,len(reduced_names)+1,100)

# coords = data.iloc[random_indices].drop("ztf_id",axis=1)
# np.savetxt(os.path.join(PATH,'List_of_RA_Dec.txt'), coords.values,fmt='%f',delimiter=' ')#,fmt='%15.f')#, fmt='%d')
# coords

# df = pd.DataFrame({"Index":random_indices,"ztf_id":data['ztf_id'][random_indices]})

# np.savetxt(os.path.join(PATH,'100random_IDs.txt'),df,fmt='%s',header='index,ztf_id')

In [108]:
# lcspath = os.path.join(PATH,'Sjoert_Flares')
# files = [f for f in os.listdir(lcspath)]
# print(files)

**Getting the 63 flares from Sjoert's paper**

In [109]:
# sjoertflares = pd.read_csv(os.path.join(lcspath,"ZTF_neoWISE_flares_acflares.dat"),delimiter=' ')
# df = sjoertflares[['ra','dec']]
# # np.savetxt(os.path.join(PATH,'Sjoert_Flares','List_of_RA_Dec.txt'), df.values,fmt='%f',delimiter=' ')#,fmt='%15.f')#, fmt='%d')
# print(sjoertflares.to_markdown())

### Making other txt files without the 100 random flares

In [141]:
to_drop = list(pd.read_csv('100random_IDs.txt',skiprows=1,names=['index','id'],delimiter=' ')['index'])
clean_2 = clean.drop(to_drop).reset_index(drop=True)
clean_2 = clean_2.drop('ztf_id',axis=1)
idxs = [1500*i for i in range(11)]
idxs[-1] = clean_2.shape[0]-1

for i in range(0,len(idxs)-1):
    part = clean_2.iloc[idxs[i]:idxs[i+1]]
    np.savetxt(os.path.join(PATH,f'BATCH_{i+1}','List_of_RA_Dec.txt'), part.values,fmt='%f',delimiter=' ')