In [23]:
from astropy.io import ascii 
import numpy as np
import pandas as pd
import os
dpath = r'C:\Users\timvd\Documents\Uni 2023-2024\First Research Project\Data'

class_file_path =os.path.join(dpath,'class_info.dat')
class_info = ascii.read(class_file_path)

param_path = os.path.join(dpath,'params_good.txt')
param_df = pd.read_csv(param_path, sep=",")

class_info['classification'] = class_info['classification'].filled('Unknown')
class_info['classification'][0] = 'Unknown'
class_info

<Table length=14258>
   ztf_id         RA          Dec     ...      MBH      MBH_ref classification
   str12       float64      float64   ...    float64     str20      str17
------------ ------------ ----------- ... ------------- ------- --------------
ZTF17aaaacjo  88.12306625 14.44325405 ...           0.0      --        Unknown
ZTF17aaaazwi   73.2609679  11.9668683 ...           0.0      --        Unknown
ZTF17aaadkwx   32.5596005  -1.8135499 ...           0.0      --        Unknown
ZTF17aaaduqw    7.0192117  42.5484892 ...           0.0      --        Unknown
ZTF17aaaecja 311.10945065  51.1478584 ...           0.0      --        Unknown
ZTF17aaaephv 359.15167335  70.8050378 ...           0.0      --        Unknown
ZTF17aaaeqnq  19.84207925  32.0440752 ...           0.0      --        Unknown
ZTF17aaagpwv  54.04777105 46.18035165 ...           0.0      --        Unknown
ZTF17aaaheis   94.8376514  31.3210664 ...           0.0      --        Unknown
ZTF17aaahrni   80.4232919 -4.18624095 ...           0.0      --        Unknown
         ...          ...         ... ...           ...     ...            ...
ZTF21acfopps  356.0993272  -5.3464967 ...           0.0      --        Unknown
ZTF20abshfel   13.8474614 -2.75951655 ...           0.0      --        Unknown
ZTF20acodsyb  171.0363244   6.2148341 ...           0.0      --        Unknown
ZTF18abmjpsk     9.083469  29.7117092 ...           0.0      --        Unknown
ZTF18aarrqrn  226.1193175   65.294844 ...           0.0      --        Unknown
ZTF18aaspnuh  248.7938848   48.772316 ...           0.0      --        Unknown
ZTF18aatmoqh           --          -- ...           0.0      --        Unknown
ZTF18absloog  10.51400025 39.29617405 ...           0.0      --        Unknown
ZTF18abtvbzx 251.71843125 47.58660475 ...           0.0      --        Unknown
ZTF18abtjnci  322.7939495  -0.5936412 ... 8.02233720614     L19            AGN

In [5]:
class_df = pd.DataFrame(np.array(class_info))

#sort the class_info by ztf_id
perm_indx = class_info['ztf_id'].argsort()
class_info = class_info[perm_indx]

#sort the parameters by ZTF_ID as well
param_df.sort_values(by='ZTF_ID',inplace=True,ignore_index=True)
#filter the ~10 ZTFs that don't have MBH and class information
ztfmask2 = np.isin(np.array(param_df['ZTF_ID']),np.array(class_info['ztf_id']))
# param_df = param_df[ztfmask2]
param_df.shape,class_df.shape,ztfmask2.shape,ztfmask2.sum()

((13467, 27), (9594, 4), (13467,), 9594)

In [15]:
class_df.iloc[:,1:]

           MBH MBH_ref classification
0     0.000000       0        Unknown
1     0.000000       0        Unknown
2     0.000000       0        Unknown
3     0.000000       0        Unknown
4     7.181945     T13        Unknown
...        ...     ...            ...
9589  0.000000       0        Unknown
9590  0.000000       0        Unknown
9591  0.000000       0        Unknown
9592  0.000000       0        Unknown
9593  0.000000       0        Unknown

[9594 rows x 3 columns]

In [16]:
param_path = os.path.join(dpath,'params_good.txt')
param_df = pd.read_csv(param_path, sep=",")

refmag_path = os.path.join(dpath,'refmags_good.txt')
refmag_df = pd.read_csv(refmag_path, sep=",")